build/
build-gui/
.flatpak-builder/
out/
out-aarch64/
install_archlinux_aarch64_rpi/arch_linux_base.tar.gz
/kiosk.flatpak
/kiosk-gui.flatpak
/kiosk-aarch64.flatpak
/kiosk-gui-aarch64.flatpak
/install_archlinux_x86-64.tar.gz
__pycache__/