QMainWindow {
    background-color: #e9e9e9;
}

QLabel#datetime {
    color: #565655;
    font-weight: bold;
    font-size: 30px;
}

QLabel#where_to_go {
    color: #2f65b0;
}

MainPage > QPushButton {
    background-color: #2f65b0;
    border: 0
}

MainPage > QPushButton QLabel {
    color: white;
}
